<div class="container">

    <div class="row main-div">
      <mat-card class="card-custom">
        <mat-card-header>
          <mat-card-title>Chatting With OpenAI GPT-3</mat-card-title>
        </mat-card-header>

        <mat-card-content [style.overflow]="'auto'" [style.height.px]="'500'">
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small, agile dog that copes
            very well with mountainous terrain, the Shiba Inu was originally bred for hunting.
          </p>
        </mat-card-content>
      </mat-card>
    </div>

    <form [formGroup]="formGroup" (ngSubmit)="onSubmit(formGroup)">
      <div class="row" style="margin-top: 20px">
        <div class="col">
          <mat-form-field [style.width.px]=600>
            <mat-label>輸入您的提問</mat-label>
            <input matInput formControlName="REQ">
          </mat-form-field>
        </div>
        <div class="col">
          <button mat-raised-button color="accent" type="submit">Send</button>
        </div>
      </div>
    </form>





</div>
